<div class="container">
  <div class="form-container">
    <form
      #resetPasswordForm="ngForm"
      (ngSubmit)="forgotPassword(resetPasswordForm.value.email)"
    >
      <mat-form-field>
        <input
          matInput
          placeholder="Email"
          type="email"
          name="email"
          ngModel
          required
        />
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">
        Reset Password
      </button>
    </form>
  </div>
</div>
