<div class="container">
    <div class="form-container">
      <form
        #resetPasswordForm="ngForm"
        (ngSubmit)="forgotPassword(resetPasswordForm.value.email); emailSent = true;"
      >
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            type="email"
            name="email"
            ngModel
            required
          />
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">
          Reset Password
        </button>
        <div *ngIf="emailSent">An email has been sent to the provided email address.</div>
      </form>
    </div>
  </div>
  