<div class="container">
    <div class="form-container">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Register</mat-card-title>
        </mat-card-header>
  
        <mat-card-content>
          <form (ngSubmit)="register()">
            <div class="form-fields">
              <mat-form-field>
                <input matInput placeholder="Username" required [(ngModel)]="user.username" name="username" />
              </mat-form-field>
  
              <mat-form-field>
                <input matInput type="email" placeholder="Email" required [(ngModel)]="user.email" name="email" />
              </mat-form-field>
  
              <mat-form-field>
                <input matInput type="password" placeholder="Password" required [(ngModel)]="user.password" name="password" />
              </mat-form-field>
  
              <mat-form-field>
                <input matInput type="password" placeholder="Confirm Password" required [(ngModel)]="user.confirmPassword" name="confirmPassword" />
              </mat-form-field>
  
              <button mat-raised-button color="primary">Register</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>