<div class="container">
    <div class="form-container">
<form #resetPasswordForm="ngForm" (ngSubmit)="resetPassword()">
    <mat-form-field>
      <input matInput placeholder="New Password" type="password" name="password" [(ngModel)]="password" required>

    </mat-form-field>
    <mat-error *ngIf="password.length < 6">Password must be at least 6 characters long</mat-error>

    <button  mat-raised-button color="primary" type="submit" [disabled]="password.length < 6">Reset Password</button>
  </form>
  </div>
  
</div>